.field
= form_for [@message] do |f|
  .field__list
    カテゴリー選択
    = f.collection_select(:category_id, @categories, :id, :name )
    = f.label :image, class: 'pic' do
      = f.file_field :image
    = f.text_area :content, cols: 30, rows: 8, class: 'text'
    = f.submit 'Send'