.main
  .categories
    .categories__list
      genre
      %p.categories__list__name
        お米＊麺＊パン
      %p.categories__list__name
        お肉＊お魚
      %p.categories__list__name
        飲み物
      %p.categories__list__name
        お菓子
  .messages
    = render @messages
  .form
    = @messages.each do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'