.form
= form_for [@message] do |f|
  .form__list
  = f.collection_select(:category_id, @categories, :id, :name ) 
  = f.label :image, class: 'form__mask__image' do
    = f.file_field :image, class: 'hidden'
  = f.text_area :content, class: 'text', size: 30
  = f.submit 'Send', class: 'form__submit'