.main
  .categories
    .categories__list 
      Category
      - @categories.each do |category|
        .categories__list__name
          = link_to "#{category.name}", "/categories/#{category.id}", class: "tag"
  .message
    .message__info    
      .message__text
        .message__info__name
          = image_tag @message.user.image, class: 'icon__image'
          = @message.user.name
          .message__text__image
            = image_tag @message.image.url, class: 'message__text__image'
          .message__text__content
            = simple_format(@message.content)
            - if user_signed_in? && current_user.id == @message.user_id
              .message__text__content__more
                %ul.message__text__content__more__list
                %li
                = link_to '▶︎編集', "/messages/#{@message.id}/edit", method: :get, class: "select"
                %li
                = link_to '▶︎削除', "/messages/#{@message.id}", method: :delete, class: "select"
  .comments
    .comments__form
      Comment
      - if current_user
        = form_for [@message, @comment] do |f|
          = f.text_area :text, class: 'text', cols: 17, rows: 3
          = f.submit "SEND", class: "form__submit"
      - else
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments__list
      Comment List
      .comments__list__title
        - if @comments
          - @comments.each do |comment|
            = link_to comment.user.name, "/users/#{comment.user_id}", class: "name"
            .comments__list__title__text
              = comment.text
      .likes__list
        いいね
        - if current_user.already_liked?(@message)
          = link_to message_like_path(@message), method: :delete, remote: true do
            = icon('fas','heart')
          = @message.liked_users.count
        - else
          = link_to message_likes_path(@message), method: :post, remote: true do
            = icon('far', 'heart')
          = @message.liked_users.count
        - @message.liked_users.each do |user|
          %li= link_to user.name, user_path(@message)