.main
  .categories
    .categories__list 
      Category
      - @categories.each do |category|
        .categories__list__name
          = link_to "#{category.name}", "/categories/#{category.id}"
  .message
    .message__info    
      .message__text
        .message__info__name
          = @message.user.name
          .message__text__content
            = image_tag @message.image.url, class: 'message__text__image'
          .message__text__content
            = @message.content
            - if user_signed_in? && current_user.id == @message.user_id
              .message__text__content__more
                %ul.message__text__content__more__list
                %li
                = link_to '編集', "/messages/#{@message.id}/edit", method: :get
                %li
                = link_to '削除', "/messages/#{@message.id}", method: :delete
  .comments
    .comments__form
      ＜コメント＞
      - if current_user
        = form_for [@message, @comment] do |f|
          = f.text_area :text, class: 'text', size: 30
          = f.submit "SEND", class: "form__submit"
      - else
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments__list
      ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.name, "/users/#{comment.user_id}"
          = comment.text