!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body   
    .header
      .header__main
        .header__main__title
          = icon('fa', 'gift', class: 'icon')
          = link_to "foodie share time", root_path, class: "header__main__title"
          = icon('fa', 'truck', class: 'icon')
        .header__main__subtitle
          ー全国お取り寄せグルメ口コミサイトー
      .header__sub
        .header__sub__icon
          = link_to '口コミ一覧ページ', messages_path, class: 'index'
        .header__sub__menu    
          - if user_signed_in?
            = link_to "マイページ", "/users/#{current_user.id}", class: "post"
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post"
            = link_to  "投稿する", new_message_path, class: "post"
          - else
            = link_to "ログイン", new_user_session_path, class: 'post'
            = link_to "新規登録", new_user_registration_path, class: 'post'
    = yield